/*
COLORS

#96f20f - zielony
#0dcaf1 - błękitny
#d928a4 - różowy 
#644fb5 - fiolet
#ED7405 - napis

Primary: #109cc4
Primary light: #50c1c1
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

:root {
    --color-primary: #05BFED;
    --color-primary-light: #e6f9fd;
    --color-primary-dark: #098da9;
    
    --color-secondary: #d928a4;
    --color-secondary-light: #ec94d2;
    --color-secondary-dark: #821862;
    
    --color-third: #644fb0;
    --color-third-dark: #3c2f6a;
    --color-third-light: #a295d0;

    --color-fourth: #96f20f;
    --color-fourth-dark: #6baa0c;
    --color-fourth-light: #c0f76f;

    --color-fifth: #ED7405;
    --color-fifth-light: #f8c79b;
    --color-fifth-dark: #8e4603;
    --color-white: #fff;
    --color-background: #fff;

    --color-grey-light-1: #fcfcfc;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #e0e0e0;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
    --shadow-natural: 0 2rem 5rem rgba(0,0,0, .1);
    --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);

}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(tab-port-small) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(phone) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    position: relative;
    padding: 1rem 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-1);
    background-color: var(--color-background);
    // background-size: cover;
    // background-repeat: no-repeat;
}    

.section {
    // margin: 0;
    padding: 3rem 0;
    font-size: 1.8rem;
    // border-radius: 1rem;
    // border-left: 2px solid var(--color-primary-light);
    // background-color: var(--color-grey-light-1);

    &__header {
        
        margin-bottom: 4rem;
        transform: translateX(-2rem);
        text-transform: uppercase;
        padding-left: 2rem;
        color: var(--color-grey-dark-1);
        font-weight: 700;
        width: 40%;
        
        // color: var(--color-grey-dark-4);
        // border-right: 2px solid var(--color-primary-dark);
        // border-bottom: 2px solid var(--color-primary-dark);
        // border-top: 2px solid linear-gradient(to right, var(--color-grey-light-1),  var(--color-primary-light));
       
        background: linear-gradient(var(--color-background), var(--color-background)) padding-box,
                    linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-dark-2)) border-box;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border: 2px solid transparent;
        border-left: 2px solid var(--color-background);

        // background: linear-gradient(right, var(--color-grey-light-1), var(--color-grey-light-1));
        // background-image: linear-gradient(to right, var(--color-grey-light-1), var(--color-primary-dark));
        // opacity: 0.7;
    }

    &__text {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__img {
        width: 100%;
        margin-bottom: 4rem;
    }


}

.hidden {
    display: none;
}

.inner-header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.gap-medium {
    gap: 4rem;
}

.margin-small {
    margin-bottom: 1rem;
}